body {
  margin: 0;
  background: rgb(222, 250, 255) !important;
  font-size: 16px;
  font-family: New Tegomin !important;
  color: #733814 !important;
}
.text{
   text-align: justify;
}
* {
  box-sizing: border-box;
}
.bordered1 {
  border-bottom: 2px solid rgb(146, 123, 84);
}
.bordered2 {
  border-top: 2px solid rgb(146, 123, 84) !important;
  padding-top: 50px !important;
}
/* =============== NAVBAR  ========= */
.breadcrumb .nav-link,
.tabs .active {
  font-family: New Tegomin !important;
}
li.breadcrumb-item.active:before {
  content: '>';
}
/*======== NAVIGATION ========= */
a,
.page-link,
.nav-link {
  color: rgb(146, 123, 84) !important;
}
a:hover,
.page-link:hover,
.linked:hover {
  text-decoration: underline;
  color: goldenrod !important;
}
.disabled {
  pointer-events: none;
  color: goldenrod !important ;
  opacity: 0.7;
}
.linked:active {
  color: goldenrod !important;
}
.page-link {
  background: rgb(255, 246, 230) !important;
}
.breadcrumb > .active {
  color: goldenrod !important;
}
.nav-link.active {
  background-color: goldenrod !important;
  /* color: aqua !important; */
  color: rgb(248, 255, 255) !important;
}
/* ====== CAROUSEl ====== */
.container {
  width: 90%;
  padding-top: 40px;
}
/* ======== CARDS ======== */
.col-md-4,
.col-md-8 {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(255, 246, 230);
}
.page2 {
  margin: 30px;
  padding: 20px;
  background: rgb(255, 246, 230);
  border-bottom: 2px solid rgb(146, 123, 84);
  border-top: 2px solid rgb(146, 123, 84);
  border-radius: 10px;
  text-align: justify;
  align-items: center;
  justify-content: center;
  font-family: New Tegomin;
  color: #733814 !important;
}
/* =========== CHAT ============= */
.main {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
.send-button {
  padding-top: 10px;
}
.chat-butn {
  width: 90px;
  font: 16px;
  border: 1px solid #fff;
  border-radius: 5px;
  background: #becfdd;
}
#wrapper {
  margin: 0 auto;
  padding-bottom: 25px;
  width: 500px;
}
#loginform {
  padding-top: 18px;
}
#chatbox {
  text-align: left;
  margin: 0 auto;
  margin-bottom: 25px;
  background: #fff;
  height: 270px;
  border: 1px solid #acd8f0;
  overflow-x: auto;
  overflow-y: auto;
}
#usermsg {
  width: 100%;
  border: 1px solid #acd8f0;
  padding-top: 10px;
}
.write-field {
  padding-top: 10px;
}
#submit {
  width: 60px;
}
#menu {
  padding: 12.5px 25px 12.5px 25px;
  border: 1px solid #acd8f0;
  background: #8fb1cc;
}
.welcome {
  float: left;
}
.logout {
  float: right;
}
.list-style-type {
  list-style-type: none;
}
.chatbox {
  text-align: left;
  margin: 0 auto;
  margin-bottom: 25px;
  background: #fff;
  height: 270px;
  border: 1px solid #acd8f0;
  overflow-x: auto;
  overflow-y: auto;
}
/* ========== FORM ========== */
.validateBtn {
  width: 120px;
  height: 45px;
  background: #607d8b;
  color: #fff;
  font-family: 'Roboto Condensed';
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #3d5764;
  cursor: pointer;
  border-radius: 5px;
}
.field {
  margin: 10px;
  border: 1px solid #733814;
  border-radius: 5px;
}
/* ======== ABOUT US ============ */
.map-contacts {
  padding-top: 30;
  padding-bottom: 50px;
  margin: 0 30px 0 30px;
}
.find-us {
  padding: 0 0 20px 0;
  margin-left: 50px;
}
.contact-us {
  margin-top: 10px;
  padding-top: 10px;
}
.sized-map {
  width: 100%;
}
